@model HardwareStore.Data.Entities.Customer

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Cliente</h1>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-control" placeholder="Nombre.." />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control" placeholder="Apellido.." />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Customeraddress" class="form-label"></label>
        <input asp-for="Customeraddress" class="form-control" placeholder="Direccion.." />
        <span asp-validation-for="Customeraddress" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Phone" class="form-label"></label>
        <input asp-for="Phone" class="form-control" placeholder="Telefono.." />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-outline-secondary" onclick="window.location.href='/Customer/Index'">Volver</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}