@{
    ViewData["Title"] = "Create";
}

<h1>Nuevo Empleado</h1>

<form asp-action="Create" method="POST">
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="Nombre..">
        <span class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Apellido</label>
        <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Apellido..">
        <span class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Edad</label>
        <input type="number" class="form-control" id="Age" name="Age" placeholder="Edad..">
        <span class="text-danger"></span>
    </div>

    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="IsActive" name="IsActive">
        <label class="form-check-label" for="IsActive">Activo</label>
    </div>

    <button class="btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-outline-secondary" type="button" onclick="window.location.href='/Products/Index'">Volver </button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}