@model HardwareStore.DTOs.RoleDTO
@{
    ViewData["Title"] = "Nuevo Rol";
    
}

<section class="section dashboard">

    @* Rol *@
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Nuevo Rol</h1>


            <form class="row g-3" asp-action="Create" method="POST" id="frmCreate">

                <partial name="_Role" />

            </form>

        </div>
    </div>

    @* Permisos *@
    <partial name="_Permissions" />


    <div class="text-center">
        <button type="submit" class="btn btn-primary" form="frmCreate" id="btnSave">Guardar</button>
        <a asp-action="Index" class="btn btn-secondary">Volver</a>
    </div>

</section>

<style>

    .card {
        border-radius: 15px;
        transition: transform 0.2s;
        margin-bottom: 1rem; /* Reduce el tamaño del borde inferior de las tarjetas */
    }

    /* Estilos del contenedor ajustados */
    .container {
        max-width: 1000px;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    /* Estilos de la fila ajustados */
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -10px;
    }

    /* Estilos de las columnas ajustados */
    .col-lg-3,
    .col-md-6 {
        padding: 0 10px;
    }
    </style>
    
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        $(document).ready(function () {

            $("#btnSave").click(function (event) {

                // Permisos
                const permissions = $('.permission:checked');

                let permissionIds = [];

                permissions.each(function () {

                    const permissionId = $(this).data('permission-id');
                    permissionIds.push(permissionId);
                });

                $('#permissionIds').val(JSON.stringify(permissionIds));

                
        });



    </script>
}