@model HardwareStore.DTOs.RoleDTO

@{
    ViewData["Title"] = "Editar Rol";
}

<style>
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .pagetitle {
        margin-bottom: 20px;
        text-align: center;
    }

        .pagetitle h1 {
            font-size: 2em;
            color: #007bff;
        }

    .breadcrumb {
        justify-content: center;
        background-color: #f8f9fa;
    }

    .breadcrumb-item a {
        color: #007bff;
        text-decoration: none;
    }

    .breadcrumb-item.active a {
        color: #6c757d;
    }

    .card {
        width: 100%;
        max-width: 800px;
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .card-title {
        color: #007bff;
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 20px;
    }

    .btn-custom {
        background-color: #007bff;
        color: white;
        border-radius: 30px;
        padding: 10px 20px;
        font-size: 16px;
        margin: 10px;
    }

        .btn-custom:hover {
            background-color: #0056b3;
        }

    .btn-secondary {
        border-radius: 30px;
        padding: 10px 20px;
        font-size: 16px;
        margin: 10px;
    }

    .text-center {
        text-align: center;
    }
</style>

<div class="main-container">
    <div class="pagetitle">
        <h1>Editar Rol</h1>
    </div>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Datos del Rol</h3>
            <form class="row g-3" asp-action="Edit" method="POST" id="frmUpdate">
                <input type="hidden" asp-for="Id" />
                <partial name="_Role" />
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Permisos</h3>
            <partial name="_Permissions" />
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-custom" form="frmUpdate" id="btnSave">Guardar</button>
        <a asp-action="Index" class="btn btn-secondary">Volver</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $('#btnSave').click(function (e) {
                // Permisos
                const permissions = $('.permission:checked');
                let permissionIds = [];

                permissions.each(function () {
                    const permissionId = $(this).data('permission-id');
                    permissionIds.push(permissionId);
                });

                $('#permissionIds').val(JSON.stringify(permissionIds));
            });
        });
    </script>
}
