@model HardwareStore.Data.Entities.Products

@{
    ViewData["Title"] = "Editar Producto";
}

<style>
    body {
        background-color: #f8f9fa;
    }

    .main-container {
        display: flex;
        justify-content: right;
        align-items: right;
        min-height: 100vh;
        margin-top: -50px; /* Agrega esta línea */
    }

    .card {
        width: 100%;
        max-width: 1000px;
        margin: 20px;
        padding: 20px;
    }

    .btn-custom {
        background-color: #007bff;
        color: white;
        border-radius: 30px;
        padding: 10px 20px;
        font-size: 16px;
    }

        .btn-custom:hover {
            background-color: #0056b3;
        }

    .btn-outline-custom {
        border-color: #007bff;
        color: #007bff;
        border-radius: 30px;
        padding: 10px 20px;
        font-size: 16px;
    }

        .btn-outline-custom:hover {
            background-color: #007bff;
            color: white;
        }

    .form-label {
        font-size: 18px;
    }

    .form-control {
        font-size: 16px;
        padding: 10px;
    }
</style>

<div class="main-container">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white text-center">
            <h3>@ViewData["Title"]</h3>
        </div>
        <div class="card-body">
            <form asp-action="Edit" method="post">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Nombre</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Price" class="form-label">Precio</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Stock" class="form-label">Cantidad</label>
                    <input asp-for="Stock" class="form-control" />
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Id" />

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-custom">Guardar</button>
                    <button type="button" class="btn btn-outline-custom" onclick="window.location.href='/Products/Index'">Volver</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
